{% extends "base.html" %}
{% load static %}
{% block content %}


<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
                <div class="right pull-right">
                    <a href="#">
                        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                    </a>   
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start call to action area-->
<section class="callto-action-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="text-holder">
                    <div class="sec-title text-right">
                        <h3>Some Story Behind Us</h3>
                        <h1>We Have 20 Years of Experience</h1>
                        <p>We handpick the best coaches and health experts from across the country to make sure you get the most personalized health care you deserve between those doctor visits.</p>
                    </div> 
                    <div class="row text-box">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-text-box pdr-30 text-right">
                                <h3>Our Mission</h3>
                                <p>Explain to you how all this mistaken idea of denouncing pleasure work praising pain was born and will give.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-text-box pdl-30 text-left">
                                <h3>Our Vision</h3>
                                <p>Pleasure work praising pain was born and will give you a complete design account of the system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="signature-readmore">
                                <div class="button pull-right">
                                    <a class="thm-btn bgclr-1" href="#">Read More</a>    
                                </div> 
                                <div class="signature pull-right">
                                    <img src="{% static 'images/resources/signature.png' %}" alt="Signature">    
                                </div>   
                            </div>
                        </div>
                    </div>   
                </div>
            </div> 
            <div class="col-md-5">
                <div class="img-holder wow slideInRight text-center">
                    <img src="{% static 'images/resources/callto-action.png' %}" alt="Call to Action Image">
                </div>
            </div>   
        </div>
    </div>
</section>
<!--End call to action area-->

<!--Start fact counter area-->
<section class="fact-counter-area" style="background-image:url({% static 'images/resources/fact-counter-bg.jpg' %});">
    <div class="container">
        <div class="sec-title">
            <h3>Interesting Facts</h3>
            <h1>Successful Experience</h1>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="count">
                        <h1>01</h1>
                    </div>
                    <div class="icon-holder">
                        <span class="flaticon-fruits"></span> 
                    </div>
                    <h1><span class="timer" data-from="1" data-to="20" data-speed="5000" data-refresh-interval="50">20</span></h1>
                    <h3>Years of Health Coaching Experience</h3>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="count">
                        <h1>02</h1>
                    </div>
                    <div class="icon-holder">
                        <span class="flaticon-smile"></span> 
                    </div>
                    <h1><span class="timer" data-from="1" data-to="284" data-speed="5000" data-refresh-interval="50">284</span></h1>
                    <h3>Happy Customers with References</h3>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="count">
                        <h1>03</h1>
                    </div>
                    <div class="icon-holder">
                        <span class="flaticon-medical-1"></span> 
                    </div>
                    <h1><span class="timer" data-from="1" data-to="176" data-speed="5000" data-refresh-interval="50">176</span></h1>
                    <h3>Contests & Conferences Attended</h3>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="count">
                        <h1>04</h1>
                    </div>
                    <div class="icon-holder">
                        <span class="flaticon-exercise"></span> 
                    </div>
                    <h1><span class="timer" data-from="1" data-to="142" data-speed="5000" data-refresh-interval="50">142</span></h1>
                    <h3>Days of a New Superfast Program</h3>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End fact counter area-->

<!--Start Healthy Process area-->
<section class="healty-process-area">
    <div class="container">
        <div class="sec-title text-center">
            <h3>How it Works?</h3>
            <h1>Process for Healthy Life</h1>
        </div> 
        <div class="row">
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                   <div class="icon-box">
                        <div class="icon">
                            <span class="flaticon-business-1"></span>
                        </div>
                        <div class="count">
                            <h3>1</h3>
                        </div>    
                   </div>
                   <div class="text-box text-center">
                       <h3>Connect With Us</h3>
                       <p>You have the power to create your own schedule.</p>
                   </div>     
                </div>
            </div>
            <!--End single working item-->
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                   <div class="icon-box">
                        <div class="icon">
                            <span class="flaticon-nature"></span>
                        </div>
                        <div class="count">
                            <h3>2</h3>
                        </div>    
                   </div>
                   <div class="text-box text-center">
                       <h3>Go Natural</h3>
                       <p>How all this mistaken idea of pleasure praising pain was born.</p>
                   </div>     
                </div>
            </div>
            <!--End single working item-->
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                   <div class="icon-box">
                        <div class="icon">
                            <span class="flaticon-exercise-1"></span>
                        </div>
                        <div class="count">
                            <h3>3</h3>
                        </div>    
                   </div>
                   <div class="text-box text-center">
                       <h3>Schedule Exercise</h3>
                       <p>Complete account of the system, and expound actual teachings.</p>
                   </div>     
                </div>
            </div>
            <!--End single working item-->
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                   <div class="icon-box">
                        <div class="icon">
                            <span class="flaticon-people-1"></span>
                        </div>
                        <div class="count">
                            <h3>4</h3>
                        </div>    
                   </div>
                   <div class="text-box text-center">
                       <h3>Celebrate Success</h3>
                       <p>Expound the actual teachings of the great explorer of the truth.</p>
                   </div>     
                </div>
            </div>
            <!--End single working item-->
        </div>
    </div>
</section>
<!--End Healthy Process area-->

<!--Start team area-->
<section class="team-area sec-padding">
    <div class="container">
        <div class="sec-title">
            <h3>Best Coaches</h3>
            <h1>Meet Our Team</h1>
        </div>
        <div class="row">
            <!--Start single team member-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'images/team/1.jpg' %}" alt="Steve Bairstow">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>Steve Bairstow</h3>
                        <span>CEO & Founder</span>
                        <div class="text">
                            <p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will complete account of the system.</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'images/team/2.jpg' %}" alt="Jimmy Morgan">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>Jimmy Morgan</h3>
                        <span>Health Coach</span>
                        <div class="text">
                            <p>There anyone who loves to pursue desires to obtain pain of itself, because it is all pain, but because praising circumstances.</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{% static 'images/team/3.jpg' %}" alt="Danielle Knight">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3>Danielle Knight</h3>
                        <span>Nutritionist</span>
                        <div class="text">
                            <p>Laborious physical exercise, except to obtain some advantage from it? But who has any right to find a man pleasure.</p>
                        </div>
                    </div>    
                </div> 
            </div>
            <!--End single team member-->
        </div>
    </div>
</section>
<!--End team area-->

<!--Start consultations area-->
<section class="consultations-area" style="background-image:url({% static 'images/resources/consultation-bg.jpg' %});">
    <div class="container wow zoomIn" data-wow-delay="100ms" data-wow-duration="900ms">
        <div class="sec-title text-center">
            <h3>Let's Talk</h3>
            <h1>Request For Consultation</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                            <div class="consultations-form-box">
                                <form id="consultations-form" name="consultations-form" action="#" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="form_name" value="" placeholder="Name *" required>
                                            <input type="email" name="form_email" value="" placeholder="Email *" required>
                                            <select name="service" class="selectmenu">
                                                <option selected="selected">Select Service</option>
                                                <option>Balance Body Mind</option>
                                                <option>Physical Activity</option>
                                                <option>Support & Motivation</option>
                                                <option>Exercise Program</option>
                                                <option>Healthy Daily Life</option>
                                                <option>First Hand Advice</option>
                                            </select>   
                                        </div>
                                        <div class="col-md-6">
                                            <textarea name="form_message" placeholder="Your Message.." required></textarea>    
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="thm-btn bgclr-1" type="submit">Submit Now</button>   
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">   
                            <div class="contact-info">
                                <h2>Contact Details</h2>
                                <ul>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-arrows"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5>Address: 121, Park Drive, Varick<br>Str, New York, NY 10012, USA</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-technology"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5>Phone: (123) 0200 12345 &<br>1800-45-678-9012</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-note"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5>Email: Mailus@Healthcoach.com</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End consultations area-->  

<!--Start certificates area-->  
<section class="certificates-area">
    <div class="container">
        <div class="sec-title">
            <h3>Achievements</h3>
            <h1>Our Certificates</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="certificates">
                    <!--Start single item-->
                    <div class="single-item">
                        <a href="#">
                            <img src="{% static 'images/certificates/1.jpg' %}" alt="Certificate 1">
                        </a>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="single-item">
                        <a href="#">
                            <img src="{% static 'images/certificates/2.jpg' %}" alt="Certificate 2">
                        </a>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="single-item">
                        <a href="#">
                            <img src="{% static 'images/certificates/3.jpg' %}" alt="Certificate 3">
                        </a>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="single-item">
                        <a href="#">
                            <img src="{% static 'images/certificates/4.jpg' %}" alt="Certificate 4">
                        </a>
                    </div>
                    <!--End single item-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End certificates area-->    

<!--Start footer area-->  
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget martop-minus pd-bottom50">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="{% static 'images/footer/footer-logo.png' %}" alt="Health Coach Footer Logo">
                        </a>
                    </div>
                    <div class="our-info">
                        <p>Health Coach brings 20 years of experience in health and wellness. Our professionals are here to help you achieve your goals.</p>
                    </div>
                    <ul class="footer-contact-info">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-arrows"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Address: 121, Park Drive, Varick<br>Str, New York, NY 10012, USA</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Phone: (123) 0200 12345</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-note"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Email: Mailus@Healthcoach.com</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>Useful Links</h3>
                        <span class="border"></span>
                    </div>
                    <ul class="useful-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>Latest News</h3>
                        <span class="border"></span>
                    </div>
                    <ul class="latest-news-post">
                        <li>
                            <div class="img-holder">
                                <img src="{% static 'images/footer/latest-news-1.jpg' %}" alt="News">
                            </div>
                            <div class="text-holder">
                                <a href="#">
                                    <h5>Stop Getting Annoyed If You Want Better Health</h5>
                                </a>
                                <span>September 10, 2025</span>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="{% static 'images/footer/latest-news-2.jpg' %}" alt="News">
                            </div>
                            <div class="text-holder">
                                <a href="#">
                                    <h5>Healthy Food? The Answer Will Surprise You</h5>
                                </a>
                                <span>September 05, 2025</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>Newsletter</h3>
                        <span class="border"></span>
                    </div>
                    <div class="newsletter-box">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Email Address" required>
                            <button type="submit">Subscribe Now</button>
                        </form>
                        <p>Subscribe to our newsletter to get the latest updates and news.</p>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
        </div>
        <!--Start footer bottom area-->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text text-center">
                            <p>&copy; Copyright 2025 Health Coach. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer bottom area-->
    </div>
</footer>
<!--End footer area-->

</div>
<!--End boxed_wrapper-->


{% endblock content %}
