{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Success Stories</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Success Stories</li>
                    </ul>
                </div>
                <div class="right pull-right">
                    <a href="#">
                        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                    </a>   
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start testimonial area-->
<section class="testimonial-page">
    <div class="container">
        <div class="row masonary-layout">
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/1.png' %}" alt="Lost 80 Pounds and 4 Sizes">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 80 Pounds and 4 Sizes</h3>
                        <p>Ladies, meet your new hero. Men, prepare to be humbled. My friend Staci, or Spezzy as she’s known health Coach.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Steve Bairstow</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/2.png' %}" alt="Lost 146 Pounds and 5 Sizes">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 146 Pounds and 5 Sizes</h3>
                        <p>In 10 months of following Health Coach, Joe has lost 128 pounds. If you are overweight, out of shape, and worried that.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Don Fletcher</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/3.png' %}" alt="Got Herself into the Shape">
                    </div>
                    <div class="text-holder">
                        <h3>Got Herself into the Shape</h3>
                        <p>When it comes to weight loss, exercise is your best friend. If you haven’t exercised for a long time and are very out.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Jessica Jung</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/4.png' %}" alt="Lost 146 Pounds and 5 Sizes">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 146 Pounds and 5 Sizes</h3>
                        <p>In 10 months of following Health Coach, Joe has lost 128 pounds. If you are overweight, out of shape, and worried that.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Allan Duckeat</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/5.png' %}" alt="Got Herself into the Shape">
                    </div>
                    <div class="text-holder">
                        <h3>Got Herself into the Shape</h3>
                        <p>When it comes to weight loss, exercise is your best friend. If you haven’t exercised for a long time and are very out.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Mark Angelino</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/6.png' %}" alt="Lost 80 Pounds and 4 Sizes">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 80 Pounds and 4 Sizes</h3>
                        <p>Ladies, meet your new hero. Men, prepare to be humbled. My friend Staci, or Spezzy as she’s known around health Coach.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Erin Johnson</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/7.png' %}" alt="Got Herself into the Shape">
                    </div>
                    <div class="text-holder">
                        <h3>Got Herself into the Shape</h3>
                        <p>When it comes to weight loss, exercise is your best friend. If you haven’t exercised for a long time and are very out.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Robert Harwing</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/8.png' %}" alt="Lost 80 Pounds and 4 Sizes">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 80 Pounds and 4 Sizes</h3>
                        <p>Ladies, meet your new hero. Men, prepare to be humbled. My friend Staci, or Spezzy as she’s known around health Coach.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Mark Nicholes</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
            <!--Start single testimonial item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="{% static 'images/testimonial/9.png' %}" alt="Lost 146 Pounds and 5 Sizes">
                    </div>
                    <div class="text-holder">
                        <h3>Lost 146 Pounds and 5 Sizes</h3>
                        <p>In 10 months of following Health Coach, Joe has lost 128 pounds. If you are overweight, out of shape, and worried that.</p>
                    </div>
                    <span class="border"></span>
                    <div class="name">
                        <h3>Joe Venenda</h3>
                    </div>
                </div>
            </div>
            <!--End single testimonial item-->
        </div>
    </div>
</section>
<!--End testimonial area-->
{% endblock content %}