{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Blog Default</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Blog Default</li>
                    </ul>
                </div>
                <div class="right pull-right">
                    <a href="#">
                        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                    </a>   
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start blog area-->
<section id="blog-area" class="blog-default-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="row">
                        <!--Start single blog post-->
                        <div class="col-md-6">   
                            <div class="single-blog-item wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                                <div class="img-holder">
                                    <img src="{% static 'images/blog/blog-default-1.jpg' %}" alt="Stop Getting Annoyed If You Want Better Health">
                                    <div class="overlay-style-one"></div>
                                    <div class="categories">
                                        <a href="#">Fitness</a>
                                    </div> 
                                </div>
                                <div class="text-holder">
                                    <ul class="meta-info">
                                        <li><a href="#">June 18, 2017</a></li>
                                        <li><a href="#">10 Comments</a></li>
                                    </ul>
                                    <a href="#">
                                        <h3 class="blog-title">Stop Getting Annoyed If You Want Better Health</h3>
                                    </a>
                                    <div class="text">
                                        <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                                    </div>
                                </div>     
                            </div>  
                        </div>
                        <!--End single blog post-->
                        <!--Start single blog post-->
                        <div class="col-md-6">   
                            <div class="single-blog-item wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                                <div class="img-holder">
                                    <img src="{% static 'images/blog/blog-default-2.jpg' %}" alt="What is a “Healthy” Food? The Answer Will Surprise You">
                                    <div class="overlay-style-one"></div>
                                    <div class="categories">
                                        <a href="#">Recipes</a>
                                    </div> 
                                </div>
                                <div class="text-holder">
                                    <ul class="meta-info">
                                        <li><a href="#">May 24, 2017</a></li>
                                        <li><a href="#">24 Comments</a></li>
                                    </ul>
                                    <a href="#">
                                        <h3 class="blog-title">What is a “Healthy” Food? The Answer Will Surprise You</h3>
                                    </a>
                                    <div class="text">
                                        <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                                    </div>
                                </div>    
                            </div>  
                        </div>
                        <!--End single blog post-->
                        <!--Start single blog post-->
                        <div class="col-md-6">   
                            <div class="single-blog-item wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                                <div class="img-holder">
                                    <img src="{% static 'images/blog/blog-default-3.jpg' %}" alt="Build an Athletic Body With In Eight Weeks Time">
                                    <div class="overlay-style-one"></div>
                                    <div class="categories">
                                        <a href="#">Crossfit</a>
                                    </div> 
                                </div>
                                <div class="text-holder">
                                    <ul class="meta-info">
                                        <li><a href="#">April 26, 2017</a></li>
                                        <li><a href="#">18 Comments</a></li>
                                    </ul>
                                    <a href="#">
                                        <h3 class="blog-title">Build an Athletic Body With In Eight Weeks Time</h3>
                                    </a>
                                    <div class="text">
                                        <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                                    </div>
                                </div>     
                            </div>  
                        </div>
                        <!--End single blog post-->
                        <!--Start single blog post-->
                        <div class="col-md-6">   
                            <div class="single-blog-item wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                                <div class="img-holder">
                                    <img src="{% static 'images/blog/blog-default-4.jpg' %}" alt="Get Free Weight Lose Tips From Our Experts">
                                    <div class="overlay-style-one"></div>
                                    <div class="categories">
                                        <a href="#">Fitness</a>
                                    </div> 
                                </div>
                                <div class="text-holder">
                                    <ul class="meta-info">
                                        <li><a href="#">April 21, 2017</a></li>
                                        <li><a href="#">10 Comments</a></li>
                                    </ul>
                                    <a href="#">
                                        <h3 class="blog-title">Get Free Weight Lose Tips From Our Experts</h3>
                                    </a>
                                    <div class="text">
                                        <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                                    </div>
                                </div>     
                            </div>  
                        </div>
                        <!--End single blog post-->
                        <!--Start single blog post-->
                        <div class="col-md-6">   
                            <div class="single-blog-item wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                                <div class="img-holder">
                                    <img src="{% static 'images/blog/blog-default-5.jpg' %}" alt="Yoga and Healthy Food Making Your Family Happy">
                                    <div class="overlay-style-one"></div>
                                    <div class="categories">
                                        <a href="#">Recipes</a>
                                    </div> 
                                </div>
                                <div class="text-holder">
                                    <ul class="meta-info">
                                        <li><a href="#">February 05, 2017</a></li>
                                        <li><a href="#">24 Comments</a></li>
                                    </ul>
                                    <a href="#">
                                        <h3 class="blog-title">Yoga and Healthy Food Making Your Family Happy</h3>
                                    </a>
                                    <div class="text">
                                        <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                                    </div>
                                </div>    
                            </div>  
                        </div>
                        <!--End single blog post-->
                        <!--Start single blog post-->
                        <div class="col-md-6">   
                            <div class="single-blog-item wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                                <div class="img-holder">
                                    <img src="{% static 'images/blog/blog-default-6.jpg' %}" alt="Our Trainer Teaching About Fitness to Senior Person">
                                    <div class="overlay-style-one"></div>
                                    <div class="categories">
                                        <a href="#">Crossfit</a>
                                    </div> 
                                </div>
                                <div class="text-holder">
                                    <ul class="meta-info">
                                        <li><a href="#">January 14, 2017</a></li>
                                        <li><a href="#">18 Comments</a></li>
                                    </ul>
                                    <a href="#">
                                        <h3 class="blog-title">Our Trainer Teaching About Fitness to Senior Person</h3>
                                    </a>
                                    <div class="text">
                                        <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                                    </div>
                                </div>    
                            </div>  
                        </div>
                        <!--End single blog post-->
                    </div>
                    <!--Start post pagination-->
                    <div class="row">
                        <div class="col-md-12"> 
                            <ul class="post-pagination text-center">
                                <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div> 
                    </div>
                    <!--End post pagination-->
                </div>
            </div>
            <!--Start sidebar Wrapper-->
            <div class="col-lg-4 col-md-6 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                        <form class="search-form" action="#">
							<input placeholder="Search..." type="text">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="sec-title">
                            <h3>Categories</h3>
                        </div>
                        <ul class="categories clearfix">
                            <li><a href="#">Fitness Kit<span>(5)</span></a></li>
                            <li><a href="#">Healthy Foods<span>(7)</span></a></li>
                            <li><a href="#">Simple Secrets<span>(3)</span></a></li>
                            <li><a href="#">Tips & Tricks<span>(10)</span></a></li>
                            <li><a href="#">Uncategorized<span>(4)</span></a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar--> 
                    <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="sec-title">
                            <h3>Popular Post</h3>
                        </div>
                        <ul class="popular-post">
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/popular-post-1.png' %}" alt="What is a “Healthy” Food?">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#"><h5 class="post-title">What is a “Healthy” Food?<br> The Answer ...</h5></a>
                                    <h6 class="post-date">February 14, 2017</h6>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/popular-post-2.png' %}" alt="Build an Athletic Body With In Eight Weeks">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#"><h5 class="post-title">Build an Athletic Body With<br>In Eight ...</h5></a>
                                    <h6 class="post-date">February 05, 2017</h6>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/popular-post-3.png' %}" alt="Stop Getting Annoyed If You Want Better Health">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#"><h5 class="post-title">Stop Getting Annoyed If You <br>Want Better ...</h5></a>
                                    <h6 class="post-date">January 22, 2017</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single-sidebar-->    
                    <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="sec-title">
                            <h3 class="pull-left">Instagram</h3>
                            <a class="pull-right follow-us" href="#">Follow Us</a>
                        </div>
                        <ul class="instagram">
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/instagram-1.jpg' %}" alt="Instagram Image 1">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/instagram-2.jpg' %}" alt="Instagram Image 2">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/instagram-3.jpg' %}" alt="Instagram Image 3">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/instagram-4.jpg' %}" alt="Instagram Image 4">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/instagram-5.jpg' %}" alt="Instagram Image 5">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            <li>
                                <div class="img-holder">
                                    <img src="{% static 'images/sidebar/instagram-6.jpg' %}" alt="Instagram Image 6">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                        </ul>
                    </div>
                    <!--End single-sidebar--> 
                    <!--Start single-sidebar-->
                    <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="sec-title">
                            <h3>Facebook Feed</h3>
                        </div>
                        <div class="fb-feed">
                            <img src="{% static 'images/sidebar/facebook-feed.jpg' %}" alt="Facebook Feed">
                        </div>     
                    </div> 
                    <!--End single-sidebar-->  
                    <!--Start single-sidebar-->
                    <div class="single-sidebar wow fadeInUp" data-wow-delay="0s" data-wow-duration="1s" data-wow-offset="0">
                        <div class="sec-title">
                            <h3>Tag Cloud</h3>
                        </div>
                        <ul class="popular-tag">
                            <li><a href="#">Ideas</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Experts</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Growth</a></li>
                        </ul>      
                    </div> 
                    <!--End single-sidebar-->
                </div>    
            </div>
            <!--End Sidebar Wrapper-->  
        </div>
    </div>
</section> 
<!--End blog area-->
{% endblock content %}