{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Services</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Services</li>
                    </ul>
                </div>
                <div class="right pull-right">
                    <a href="#">
                        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                    </a>   
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
 
<!--Start service area-->
<section class="service-page-area">
    <div class="container">
        <div class="row">
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{% static 'images/services/1.jpg' %}" alt="Balance Body Mind">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-medical"></span>
                                        </div>
                                        <h3>Balance Body Mind</h3>
                                        <p>Finding a workout is as easy as scrolling down, picking out the session that matches.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-medical"></span>
                                        </div>
                                        <h3>Balance Body Mind</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{% static 'images/services/2.jpg' %}" alt="Physical Activity">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-sports"></span>
                                        </div>
                                        <h3>Physical Activity</h3>
                                        <p>Finding a workout is as easy as scrolling down, picking out the session that matches.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-sports"></span>
                                        </div>
                                        <h3>Physical Activity</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{% static 'images/services/3.jpg' %}" alt="Support & Motivation">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-line"></span>
                                        </div>
                                        <h3>Support & Motivation</h3>
                                        <p>Finding a workout is as easy as scrolling down, picking out the session that matches.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-line"></span>
                                        </div>
                                        <h3>Support & Motivation</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{% static 'images/services/4.jpg' %}" alt="Exercise Program">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-people"></span>
                                        </div>
                                        <h3>Exercise Program</h3>
                                        <p>Finding a workout is as easy as scrolling down, picking out the session that matches.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-people"></span>
                                        </div>
                                        <h3>Exercise Program</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{% static 'images/services/5.jpg' %}" alt="Healthy Daily Life">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-food"></span>
                                        </div>
                                        <h3>Healthy Daily Life</h3>
                                        <p>Finding a workout is as easy as scrolling down, picking out the session that matches.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-food"></span>
                                        </div>
                                        <h3>Healthy Daily Life</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{% static 'images/services/6.jpg' %}" alt="Improving Health">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-medical-1"></span>
                                        </div>
                                        <h3>Improving Health</h3>
                                        <p>Finding a workout is as easy as scrolling down, picking out the session that matches.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-medical-1"></span>
                                        </div>
                                        <h3>Improving Health</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{% static 'images/services/7.jpg' %}" alt="Personal Fitness">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-dumbbell"></span>
                                        </div>
                                        <h3>Personal Fitness</h3>
                                        <p>Finding a workout is as easy as scrolling down, picking out the session that matches.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-dumbbell"></span>
                                        </div>
                                        <h3>Personal Fitness</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{% static 'images/services/8.jpg' %}" alt="First Hand Advice">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-note-1"></span>
                                        </div>
                                        <h3>First Hand Advice</h3>
                                        <p>Finding a workout is as easy as scrolling down, picking out the session that matches.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="flaticon-note-1"></span>
                                        </div>
                                        <h3>First Hand Advice</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->  
        </div>
    </div>
</section>
<!--End service area-->
{% endblock content %}