{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Services</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Services</li>
                    </ul>
                </div>
                <div class="right pull-right">
                    <a href="#">
                        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                    </a>   
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
 
<!--Start service area-->
<section class="service-page-area">
    <div class="container">
        <div class="row">
           
           {% for service in services %}
             <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="img-holder">
                        <img src="{{service.image.url}}" alt="Balance Body Mind">
                        <div class="content">
                            <div class="text-holder text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="{{service.logo}}"></span>
                                        </div>
                                        <h3>{{service.title}} </h3>
                                        <p>{{service.short_description}}.</p>
                                        <a class="thm-btn bgclr-1" href="#">Read More</a>
                                    </div>
                                </div>    
                            </div>
                            <div class="text-holder-1 text-center">
                                <div class="inner">
                                    <div class="inner-content">
                                        <div class="icon-box">
                                            <span class="{{service.logo}}"></span>
                                           
                                        </div>
                                        <h3>{{service.title}}</h3>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
           {% endfor %}
            
           
        </div>
    </div>
</section>
<!--End service area-->
{% endblock content %}