{% load static %}
<!--Start footer area-->  
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget martop-minus pd-bottom50">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="{% static 'images/footer/footer-logo.png' %}" alt="Health Coach Logo">
                        </a>
                    </div>
                    <div class="our-info">
                        <p>Health Coach brings over 40 years of expertise in wellness and fitness coaching to help you achieve your health goals. Our certified professionals are here to guide you.</p>
                    </div>
                    <ul class="footer-contact-info">
                        <li>
                            <div class="icon-holder" aria-hidden="true">
                                <span class="flaticon-arrows"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Address: 121 Park Drive, Varick St, New York, NY 10012, USA</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder" aria-hidden="true">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Phone: (123) 0200 12345</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder" aria-hidden="true">
                                <span class="flaticon-note"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Email: mailus@healthcoach.com</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>Useful Links</h3>
                        <span class="border"></span>
                    </div>
                    <ul class="usefull-links fl-lft">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News & Tips</a></li>
                        <li><a href="#">Coaches</a></li>
                        <li><a href="#">Our Shop</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <ul class="usefull-links">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Healthy Foods</a></li>
                        <li><a href="#">Get Offers</a></li>
                        <li><a href="#">Consultation</a></li>
                        <li><a href="#">Certificates</a></li>
                        <li><a href="#">Qualifications</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget mar-bottom">
                    <div class="title">
                        <h3>Latest News</h3>
                    </div>
                    <ul class="latest-post">
                        <li class="single-post">
                            <div class="img-holder">
                                <img src="{% static 'images/footer/latest-news-1.png' %}" alt="What is a Healthy Food?">
                            </div>
                            <div class="text-holder">
                                <a class="post-title" href="#">What is a “Healthy” Food?<br>The Answer...</a>
                                <div class="post-info">
                                    <span>February 14, 2017</span>
                                </div>
                            </div>
                        </li>
                        <li class="single-post">
                            <div class="img-holder">
                                <img src="{% static 'images/footer/latest-news-2.png' %}" alt="Build an Athletic Body">
                            </div>
                            <div class="text-holder">
                                <a class="post-title" href="#">Build an Athletic Body<br>With In Eight...</a>
                                <div class="post-info">
                                    <span>February 05, 2017</span>
                                </div>
                            </div>
                        </li>
                        <li class="single-post">
                            <div class="img-holder">
                                <img src="{% static 'images/footer/latest-news-3.png' %}" alt="Stop Getting Annoyed">
                            </div>
                            <div class="text-holder">
                                <a class="post-title" href="#">Stop Getting Annoyed If<br>You Want Better...</a>
                                <div class="post-info">
                                    <span>January 22, 2017</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget clearfix">
                    <div class="title">
                        <h3>Newsletter</h3>
                    </div>
                    <div class="newsletter-box">
                        <p>Subscribe to our newsletter!</p>
                        <form class="newsletter-form" action="#">
                            <input type="email" name="email" placeholder="Enter your email address" required>
                            <button type="submit" aria-label="Subscribe to newsletter"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            <div class="envelope" aria-hidden="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="single-footer-widget clearfix">
                    <div class="title">
                        <h3>Working Hours</h3>
                    </div>
                    <ul class="working-hours">
                        <li>Monday-Friday: <span>9:00 to 18:00</span></li>
                        <li>Saturday: <span>9:00 to 18:00</span></li>
                        <li>Sunday: <span class="closed">Closed</span></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>
</footer>   
<!--End footer area-->

<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Health Coach</a></p> 
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-social-links">
                    <li><a href="#" aria-label="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" aria-label="Google"><i class="fa fa-google"></i></a></li>
                    <li><a href="#" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End footer bottom area-->