{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Events</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->     
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left pull-left">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Events</li>
                    </ul>
                </div>
                <div class="right pull-right">
                    <a href="#">
                        <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                    </a>   
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start event area area-->
<section class="event-find-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="event-find">
                    <div class="row">
                        <form name="event_find_form" class="default-form" action="#" method="post">
                            <div class="col-md-3">
                                <div class="input-box">
                                    <div class="field-label">Events On</div>
                                    <input type="text" name="date" placeholder="Date" id="datepicker">
                                    <div class="icon-box">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-md-3">
                                <div class="input-box">
                                    <div class="field-label">Location</div>
                                    <input type="text" name="form_city" value="" placeholder="Newyork City" required="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-box">
                                    <div class="field-label">Search</div>
                                    <input type="text" name="form_search" value="" placeholder="Keyword...">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="thm-btn bgclr-1" type="submit">Find Events</button>
                            </div>        
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End event area area-->
 
<!--Start main event area-->
<div class="main-event-area">
    <div class="container">
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="{% static 'images/events/1.jpg' %}" alt="Healthy Culinary Show">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="date-box">
                            <h3>21</h3>
                            <p>May ‘17</p>
                        </div>
                        <div class="text-box">
                            <h3>Healthy Culinary Show</h3>
                            <ul>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>Started On: 09.30am</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>212, Station Road, Newyork</li>
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="{% static 'images/events/2.jpg' %}" alt="Health Coaching Contest">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="date-box">
                            <h3>14</h3>
                            <p>Apr ‘17</p>
                        </div>
                        <div class="text-box">
                            <h3>Health Coaching Contest</h3>
                            <ul>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>09.00am to 15.00pm</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Old Redford Park, Georgia</li>
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="{% static 'images/events/3.jpg' %}" alt="Mend a Broken Heart">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="date-box">
                            <h3>12</h3>
                            <p>Apr ‘17</p>
                        </div>
                        <div class="text-box">
                            <h3>Mend a Broken Heart</h3>
                            <ul>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>Started On: 09.30am</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>111 Apple Street, Los Angeles</li>
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="{% static 'images/events/4.jpg' %}" alt="Health Coaching Contest">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="date-box">
                            <h3>23</h3>
                            <p>Mar ‘17</p>
                        </div>
                        <div class="text-box">
                            <h3>Health Coaching Contest</h3>
                            <ul>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>09.00am to 15.00pm</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Old Redford Park, Georgia</li>
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="{% static 'images/events/5.jpg' %}" alt="Mend a Broken Heart">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="date-box">
                            <h3>10</h3>
                            <p>Feb ‘17</p>
                        </div>
                        <div class="text-box">
                            <h3>Mend a Broken Heart</h3>
                            <ul>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>Started On: 09.30am</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>111 Apple Street, Los Angeles</li>
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="{% static 'images/events/6.jpg' %}" alt="Healthy Culinary Show">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="date-box">
                            <h3>06</h3>
                            <p>Feb ‘17</p>
                        </div>
                        <div class="text-box">
                            <h3>Healthy Culinary Show</h3>
                            <ul>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i>Started On: 09.30am</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>212, Station Road, Newyork</li>
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>    
</div> 
<!--End main event area-->
{% endblock content %}